#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.exe
*.sdf
*.suo
*.log
*.tlog
*.idb
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
log.txt
Debug/
Release/
Debug*/
Release*/
Debug
Release
Carlos/Carlos.vcxproj
Carlos/Debug/Carlos.Build.CppClean.log
Carlos/Debug/Carlos.log
Carlos/Debug/CL.read.1.tlog
Carlos/Debug/CL.write.1.tlog
Carlos/Debug/class.App.obj
Carlos/Debug/class.Carlos.obj
Carlos/Debug/class.ModulesController.obj
Carlos/Debug/class.ModulWrapper.obj
Carlos/Debug/link.read.1.tlog
Carlos/Debug/main.obj
Carlos/Debug/vc110.idb
Carlos/Debug/vc110.pdb
com.carlos.architecture/Debug/class.Configuration.obj
com.carlos.architecture/Debug/class.DBService.obj
com.carlos.architecture/Debug/com.carlos.architecture.log
com.carlos.architecture/Debug/sqlite3.obj
com.carlos.architecture/Debug/tinyxml2.obj
com.carlos.architecture/Debug/utilities.obj
com.carlos.architecture/Debug/vc110.idb
com.carlos.architecture/Debug/vc110.pdb
com.carlos.hra/Debug/AABB.obj
com.carlos.hra/Debug/cl.command.1.tlog
com.carlos.hra/Debug/CL.read.1.tlog
com.carlos.hra/Debug/CL.write.1.tlog
com.carlos.hra/Debug/class.DllModulVykreslovania.obj
com.carlos.hra/Debug/class.Scene.obj
com.carlos.hra/Debug/com.carlos.hra.Build.CppClean.log
com.carlos.hra/Debug/com.carlos.hra.lastbuildstate
com.carlos.hra/Debug/com.carlos.hra.write.1.tlog
com.carlos.hra/Debug/DllMain.obj
com.carlos.hra/Debug/link.command.1.tlog
com.carlos.hra/Debug/link.read.1.tlog
com.carlos.hra/Debug/link.write.1.tlog
com.carlos.hra/Debug/modulHra.log
com.carlos.hra/Debug/objModel.obj
com.carlos.hra/Debug/prepniStav.obj
com.carlos.hra/Debug/shaders.obj
com.carlos.hra/Debug/stavy.obj
com.carlos.hra/Debug/texture.obj
com.carlos.hra/Debug/vc110.idb
com.carlos.hra/Debug/vc110.pdb
com.carlos.hra/Debug/vertexBufferObject.obj
com.carlos.hra/modulHra.vcxproj
com.carlos.hra/modulHra.vcxproj.filters
com.carlos.tcp/Debug/CL.read.1.tlog
com.carlos.tcp/Debug/com.carlos.android.tcpServer.Build.CppClean.log
com.carlos.tcp/Debug/com.carlos.tcp.log
com.carlos.tcp/Debug/DllMain.obj
com.carlos.tcp/Debug/link.read.1.tlog
com.carlos.tcp/Debug/ServerSocket.obj
com.carlos.tcp/Debug/SocketListener.obj
com.carlos.tcp/Debug/vc110.idb
com.carlos.tcp/Debug/vc110.pdb
Debug/Carlos.exe
Debug/Carlos.ilk
Debug/Carlos.pdb
Debug/com.carlos.android.tcpServer.dll
Debug/com.carlos.android.tcpServer.exp
Debug/com.carlos.android.tcpServer.ilk
Debug/com.carlos.android.tcpServer.lib
Debug/com.carlos.android.tcpServer.pdb
Debug/com.carlos.architecture.lib
Debug/com.carlos.hra.dll
Debug/com.carlos.hra.exp
Debug/com.carlos.hra.lib
Debug/com.carlos.hra.pdb
Debug/com.carlos.spracovanieReality.dll
Debug/com.carlos.spracovanieReality.exp
Debug/com.carlos.spracovanieReality.ilk
Debug/com.carlos.spracovanieReality.lib
Debug/com.carlos.spracovanieReality.pdb